body {
  background-color: rgb(134, 108, 74);
  font-size: 25px;
  text-align: center;
  color: whitesmoke;
}

h2, h3 {
  background-color: rgb(112, 136, 16);
  border-radius: 10px;
  display: inline;
  padding: 10px;
}

h1 {
  background-color: rgb(52, 108, 41);
  border-radius: 20px;
  font-style: italic;
  padding: 10px;
}
footer {
  background-color: rgb(29, 72, 105);
  border-radius: 10px;
  padding: 10px;
  height: 100px;
}