article {
  border: 3px solid rgb(73, 154, 57);
  border-radius: 5%;
  padding: 1vw;
  background-color: rgb(22, 65, 4);
  margin-bottom: 1vw;
  width: 30%;
}

article img {
  width: 100%;
  height: 250px;
  padding-top: 5px;
}

h2 {
  font-size: 22px;
  padding: 4px;
}

article p {
  font-size: 20px;
}

article p:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}

article p:last-of-type:hover {
  color: rgb(18, 255, 10);
  font-weight: bolder;
}

.article-button {
  margin: .2rem .1vw;
}
