article {
  border: 3px solid rgb(105, 80, 85);
  border-radius: 5%;
  padding: 1vw;
  background-color: whitesmoke;
  margin-bottom: 1vw;
  width: 30%;
}

article img {
  width: 100%;
  height: 250px;
  padding-top: 5px;
}

h2 {
  font-size: 22px;
  padding: 4px;
}

article p {
  font-size: 20px;
}

article p:last-of-type {
  padding-left: 3.5rem;
  cursor: pointer;
}

article p:last-of-type:hover {
  font-weight: bolder;
}

.article-button {
  margin: .2rem .1vw;
}
